.sentiment {
    padding: 0 8px;
    border-radius: 4px;
    color: black;
    font-size: 0.85rem;
    height: 100%;

    &--negative {
        background-color: red;
    }

    &--positive {
        background-color: green;
    }

    &--neutral {
        background-color: gray;
    }
}